* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: 1em;
  padding-right: 1em;

  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei',
    sans-serif;
}

.scroll-2-top {
  position: fixed;
  right: 1em;
  bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background-color: rgba(238, 238, 238, .9);
  color: #999;
  font-weight: bold;
  cursor: pointer;
}