@import "../libs/font-awesome.min.css";
@import "../libs/highlight.js/styles/atom-one-dark.css";
@import "../libs/page.css";

html, body {
  margin: 0;
  padding: 0 .5em;
}

.content table {
  display: table;
  width: 100%;
}

.content h1 {
  font-size: 2em;
}

/* 覆盖page.css */
.content blockquote {
  padding: 1em 2em 1em 1.4em;
  background-color: #f8f8f8;
}

.content blockquote p:first-child {
  margin-top: 0;
}

/* 覆盖hljs */
.hljs {
  padding: 1.2em;
}