@import "../libs/font-awesome.min.css";
@import "../libs/highlight.js/styles/atom-one-dark.css";
@import "../libs/page.css";

html, body {
  margin: 0;
  padding: 0 .5em;
}

.content table {
  display: table;
  width: 100%;
}

.content h1 {
  font-size: 2em;
}